doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Jersey City grandmother struck and killed by tow truck at St. Paul's Avenue and Kennedy Boulevard
  body 
    a(href="https://www.nj.com/jjournal-news/2011/11/jersey_city_grandmother_struck.html")
      h1(style="font-family:sans-serif; text-align:center")
        | Jersey City grandmother struck and killed by tow truck at St. Paul's Avenue and Kennedy Boulevard
    a(href="https://www.nj.com/jjournal-news/2011/11/jersey_city_grandmother_struck.html")
      img(src="/img/header.jpg" style="width:100%;")
  // Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-0K994KSMH1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0K994KSMH1');
